* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: SF Pro Display, 'Times New Roman', Times, serif;
}

body {
    min-width: 320px;
    max-width: 80rem;
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: #000;
}
.space-above {
    background-color: rgb(244, 242, 242);
    height: 2rem;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
    height: 4rem;
}
.logo-img{
    height: 3rem;
}
.github-profile{
    font-size: 1.8rem;
}
.background{
    background-image: url('background-img/image.png');
    height: 30rem;
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
}
.article{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50rem;
    align-items: center;
    height: 30rem;
    padding: 2rem;
}
.heading{
    font-size: 2.3rem;
}
.heading:hover{
    text-decoration: underline;
}
.sub-heading{
    font-size: 1.3rem;
    color: rgb(197, 197, 198);
}
.horizontal-line{
    height: 1px;
    border: 0.5px solid black;
}
.heading-inner{
    font-size: 1.8rem;
}
.sub-heading-inner{
    font-size: 1.5rem;
    color: #252525;
}

.article1{
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    padding: 2rem;
    margin: 1rem 0.5rem;
}